Beautifulsoup4==4.6.3
bleach==2.1.4
branca==0.3.0
catfish==1.4.2
chardet==3.0.4
chrome-gnome-shell==0.0.0
command-not-found==0.3
cycler==0.10.0
decorator==4.3.0
defer==1.0.6
entrypoints==0.2.3
et-xmlfile==1.0.1
folium==0.6.0
html5lib==1.0.1
ipykernel==4.9.0
ipython==6.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.1
jdcal==1.4
jedi==0.12.1
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
language-selector==0.1
lightdm-gtk-greeter-settings==1.2.1
lxml==4.2.4
MarkupSafe==1.0
matplotlib==2.2.3
menulibre==2.1.3
mistune==0.8.3
mugshot==0.3.1
nbconvert==5.4.0
nbformat==4.4.0
nltk==3.3
notebook==5.6.0
numpy==1.15.1
onboard==1.2.0
openpyxl==2.5.6
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
pdfminer.six==20170720
pdftotext==2.0.2
pexpect==4.6.0
pickleshare==0.7.4
Pillow==9.3.0
prompt-toolkit==2.0.4
psutil==5.4.7
ptyprocess==0.6.0
pycryptodome==3.6.6
pycups==1.9.73
pycurl==7.43.0
Pygments==2.2.0
pygobject==3.20.0
pyparsing==2.2.0
PyPDF2==1.26.0
python-apt==1.1.0b1+ubuntu0.16.4.1
python-dateutil==2.7.3
python-debian==0.1.33
python-systemd==231
pytz==2018.5
pyxdg==0.26
pyzmq==17.1.2
qtconsole==4.4.1
reportlab==3.5.6
requests==2.19.1
scipy==1.1.0
sessioninstaller==0.0.0
simplegeneric==0.8.1
six==1.11.0
system-service==0.3
terminado==0.8.1
testpath==0.3.1
textblob==0.15.1
tornado==5.1
traitlets==4.3.2
ubuntu-drivers-common==0.0.0
ufw==0.35
unattended-upgrades==0.1
urllib3==1.23
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.1
xkit==0.0.0
